/* Sign-up form stylesheet */

:root {
    --button-accent-color: #596D48;
    --light-border: #E5E7EB;
    --background-offwhite: #f9fafb;
    --font-dark: #131313;
    --font-medium: #1f2937;
    --font-light: #505863;
}

@font-face {
    font-family: "Norse-Bold";
    src: url(Norse-Bold.otf);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-container {
    height: 100vh;
    display: flex;
}

.pic-column {
    flex: 1;
    background: url(img/bikin.jpg) no-repeat;
    background-size: cover;
}

.logo-container {
    color: white;
    font-family: "Norse-Bold";
    text-align: center;
    padding: 0.125em;
    width: 100%;
    font-size: 6rem;
    background-color: rgba(0, 0, 0, 0.637);
}

/* .logo-container > div::before {
    content: "asd";
    background: url(img/odin-lined.png) no-repeat;
    background-size: contain;
} */

.form-column {
    flex: 1;
    background-color: var(--background-offwhite);
}

.top-container {
    font-size: 1.2rem;
    color: var(--font-dark);
    padding: 30px;
    margin-top: 60px;
}

.form-column p {
    max-width: 55ch;
    margin-bottom: 20px;
    font-weight: 500;
}

.form-container {
    background-color: white;
    color: var(--font-medium);
    padding: 30px;
}

.form-row {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.form-input label {
    color: var(--font-light);
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.form-input input {
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid var(--light-border);
}

.form-column h2 {
    font-size: 1.3rem;
    font-weight: 500;
}